
header{
    height: 1043px;
    width: 1920px;
    background: url(../img/Background.png);
}

.background{
    z-index: 1;
}

.nav-bar{
    z-index: 2;
}

#logo{
    width: 182px;
    height: 102px;
    background-color: #0F7BFF;
    border-radius: 0px 0px 15px 15px;
    margin-left: 140px;
    float: left;
}

#logo-text{
    font-size: 36px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color:white;
    padding-left: 26px;
    padding-top: 44px;
}

#menu{
    padding-top: 44px;
    padding-left: 1179px;
}

#menu ul li{
    float: left;
    margin-left: 41px;
    color: #929292;
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

#menu ul li:first-child{
    margin-left: 29px;
    color: #0F7BFF;
}