
header{
    height: 1043px;
    width: 1920px;
    background: url(../img/Background.png);
}

.background{
    z-index: 1;
}

.nav-bar{
    z-index: 2;
}

#logo{
    width: 179px;
    height: 100px;
    background-color: #0F7BFF;
    border-radius: 0px 0px 22px 22px;
    margin-left: 140px;
    float: left;

    font-size: 36px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color:white;

    text-align: center;
    padding-top: 30px;

}

#logo-text{

    padding-left: 20px;
}

#menu{
    /*padding-left: 1179px;*/
    padding-top: 40px;
    text-align: right;
}

#menu a{
    color: #929292;
    margin-left: 41px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;  
    text-transform: uppercase;
    line-height: 27px;
}

#menu a:first-child{
    color: #0F7BFF;
    margin-left: 0;
}


#sign-button{
    z-index: 1;
    /*margin-left: 1700px;*/
    /*margin-left: 50px;*/
    margin-right: 140px;
    margin-left: 53px;
    background-color: #0063dd;
    width: 165px;
    height: 50px;
    border-radius: 25px;
}

#sign-button{
    font-size: 16px;
    line-height: 27px;
    color: #ffffff;
    font-weight: 700;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}