body{
    max-width: 1920px;
    float: left;
}

header{
    height: 1043px;
    background: url(../img/Background.png);
}

h1{
    font-size: 36px;
    line-height: 24px;
    color: #333333;
    font-weight: 700;
    font-family: 'Quicksand', sans-serif;

}

h2{
    font-size: 32px;
    line-height: 36px;
    color: #333333;
    font-weight: 500;
    font-family: 'Quicksand', sans-serif;
}

h3{
    font-size: 18px;
    line-height: 27px;
    color: #333333;
    font-weight: 500;
    font-family: "Quicksand";
    text-align: center;
}

h4{
    
    font-size: 16px;
    line-height: 27px;
    color: #929292;
    font-weight: 400;
    font-family: 'Quicksand', sans-serif;
}

.blue-button{
    width: 165px;
    height: 50px;
    border-radius: 25px;
    background-color: #0f7bff;
    text-align: center;


    font-size: 16px;
    line-height: 27px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Quicksand";
}

.white-button{
    width: 165px;
    height: 50px;
    border-radius: 25px;
    background-color:  #ffffff;
    border: 2px solid #0f7bff;

    font-size: 16px;
    line-height: 27px;
    color: #0f7bff;
    font-weight: 700;
    font-family: "Quicksand";
    text-align: center;
}

#logo{
    width: 179px;
    height: 100px;
    background-color: #0F7BFF;
    border-radius: 0px 0px 22px 22px;
    margin-left: 140px;
    float: left;

    font-size: 36px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color:white;

    text-align: center;
    padding-top: 30px;

}

#logo-text{
    padding-left: 20px;
}

#menu{
    padding-top: 40px;
    text-align: right;
}

#menu a{
    color: #929292;
    margin-left: 41px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;  
    text-transform: uppercase;
    line-height: 27px;
}

#menu a:first-child{
    color: #0F7BFF;
    margin-left: 0;
}



#sign-button{
    z-index: 1;
    margin-right: 140px;
    margin-left: 53px;
    background-color: #0063dd;
    width: 165px;
    height: 50px;
    border-radius: 25px;
}

#sign-button{
    font-size: 16px;
    line-height: 27px;
    color: #ffffff;
    font-weight: 700;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

.elements{
    text-align: center;
}

.elements h1{
    margin-top: 141px;
}

.elements h4{
    width: 651px;
    margin: 0 auto;
    margin-top: 26px;
}

#download-button{
    margin-top: 35px;
    margin-right: 28px;
}

#trial-button{
    margin-top: 35px;
    margin-right: 14px;
}

.device{
    position: relative;
}

#devices-top{
    display: inline-block;
    position: absolute;
    left: 25.5%;
    padding-top: 95px;
}

#device-left{
    margin-right: 190px;
}

#devices-bottom{
    display: inline-block;
    position: absolute;
    left: 38%;
    margin-top: 7px;
}

/*Features here*/
.features{
    height: 638px;
    background-color: #f5fcfd;
    position: relative; 
    max-width: 1920px;

}

#scroll-button{
    width: 70px;
    height: 70px;
    border-radius: 35px;
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    background: center url(../img/Icon.png) no-repeat ;
    display: block;
    margin: 0 auto;
}

#features-block-left, #features-block-right, #features-block-center{
    width: 360px;
    height: 290px;
    border-radius: 5px;
    filter: drop-shadow(0 0 12.5px #f0f0f0);
    background-color: #ffffff;
    float: left;
    position: absolute;
}

#features-block-left img, #features-block-right img, #features-block-center img{
    width: 70px;
    height: 70px;
    margin-top: 40px;
    margin-left: 144px;
}

#features-block-left h3, #features-block-right h3, #features-block-center h3{
    margin-top: 30px;
}

#features-block-left h4, #features-block-right h4, #features-block-center h4{
    text-align: center;
    margin-top: 20px;
}

#features-block-center{
    margin-top: 175px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -0)
}

#features-block-right{
    margin-top: 90px;
    margin-right: 210px;
    left: 50%;
    margin-right: -50%;
    transform: translate(210px, -0)

}

#features-block-left{
    margin-top: 90px;
    margin-left: 210px;
    right: 50%;
    margin-left: -50%;
    transform: translate(-210px, -0)
}

/*About block here*/
.about{
    height: 1200px;
    background-color: #ffffff;
    background: url(../img/Rectangles.png) no-repeat;
    position: relative;
}

#about-img-1{
    position: absolute;
    margin-top: 75px;
    border-radius: 5px;
    margin-left: 380px; 
}

#about-img-2{
    position: absolute;
    margin-left: 550px;
    margin-top: 105px;
    border-radius: 5px;
}

#about-text-1{
    height: 158px;
    width: 544px;
    margin-top: 220px;
    margin-right: 402px;
    float: right;
}

#about-text-1 h4, #about-text-2 h4{
    margin-top: 30px;
    margin-bottom: 36px;
}

.blue-link{
    font-size: 16px;
    line-height: 27px;
    color: #0f7bff;
    font-weight: 500;
    font-family: "Quicksand";
}

#about-text-1 .blue-link, #about-text-2 .blue-link{
    width: 106px;
    height: 15px;
}

.icon-arrow{
    width: 15px;
    height: 11px;
    margin-top: 8px;
    right: 0;
}

#about-text-2{
    position: absolute;
    width: 544px;
    height: 210px;
    margin-top: 755px;
    margin-left: 390px;
}

#about-img-3{
    position: absolute;
    margin-top: 650px;
    border-radius: 5px;
    position: absolute;
    right: 0;
    margin-right: 370px;
}

#about-img-4{
    position: absolute;
    margin-top: 620px;
    margin-right: 500px;
    border-radius: 5px;
    right: 0;  
}

/*About how-does-it-work here*/
.how-does-it-works{
    height: 649px;
    background-color: #f5fcfd;
    position: relative;

}

.how-does-it-works h2{
    position: absolute;
    margin: 0 auto;
    width: 329px;
    height: 36px;
    margin-top: 150px;
    left: 0;
    right: 0;
}

#how-does-h4-title{
    position: absolute;
    margin: 0 auto;
    width: 761px;
    height: 54px;
    margin-top: 205px;
    left: 0;
    right: 0;
    text-align: center;
}

#line{
    width: 680px;
    height: 1px;
    border: 1px solid #0f7bff;
    margin: auto;
    position: absolute;
    margin-top: 350px;
    left: 0;
    right: 0;
}

#blue-image-1{
    background: url(../img/symbol-1.png) no-repeat;
    width: 65px;
    height: 65px;
    position: absolute;
    margin-top: 140px;
    margin-left: 893px;
}

#blue-image-2{
    background: url(../img/symbol-2.png) no-repeat;
    width: 65px;
    height: 65px;
    position: absolute;
    margin-top: 130px;
    margin-left: 938px;
}

#how-works-account, #how-works-email, #how-works-results{
    position: absolute;
    width: 298px;
    height: 218px;
    text-align: center;
    margin-top: 300px;
}

#how-works-account h3, #how-works-email h3, #how-works-results h3{
    margin-top: 26px;
    margin-bottom: 15px;
}

#how-works-account{
    margin-left: 424px;
}

#how-works-email{
    margin-left: 814px;
}

#how-works-results{
    margin-left: 1200px;
}

/*Pricing here*/
.pricing{
    height: 836px;
    background-color: #ffffff;
    position: relative;
}

#plan{
    position: absolute;
    width: 322px;
    height: 159px;
    margin-left: 390px;
    margin-top: 300px;
}

#plan h2{
    margin-bottom: 24px;
}

#plan .blue-button{
    border-radius: 25px 0 0 25px;
    margin-top: 35px;
}

#plan .white-button{
    border-radius: 0 25px 25px 0;
    position: absolute;
    margin-top: 35px;
}

#standard, #premium{
    width: 360px;
    height: 576px;
    border-radius: 5px;
    filter: drop-shadow(0 0 34px rgba(165,165,165,0.25));
    background-color: #ffffff;
    margin-top: 130px;

    text-align: center;
}

#standard{
    position: absolute;
    left: 0;
    right: 0;
    margin: 130px auto auto auto;
}

#premium{
    position: absolute;
    margin-left: 1200px;
}

#standard img, #premium img{
    margin-top: 40px;
}

#standard h4, #premium h4{
    margin-top: 10px;
}

.line{
    width: 165px;
    height: 1px;
    background-color: #e0e0e0;
    left: 0;
    right: 0;
    margin: 28px auto 28px auto;
}

.price{
    margin-top: 22px;
    margin-bottom: 26px;

    font-size: 16px;
line-height: 36px;
color: #0f7bff;
font-weight: 500;
font-family: "Quicksand";
text-align: center;
}

b{
    font-size: 26px;
}